<!--File Name: about.ejs-->
<!--Student Name: Curtis Carpio-->
<!--Student ID: 301322854-->
<!--Date: October 4th, 2023-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <head>
        <link rel="stylesheet" href="style.css"/>
    </head>

<main class="container">
<!--<div class="jumbotron"></div>-->
<h1 class="mainTitle"><%= title %></h1>
    <p>My name is Curtis Carpio. I am attending Centennial College in Canada at the time of this writing, and am currently in my third semester of my Software Engineering Technology program.</p>

    <p>My hobbies/interests include...</p>
        <ul>
            <li>Listening to Music</li>
            <li>Editing Videos</li>
            <li>Casual Photography</li>
            <li>Video Games</li>
            <li>Drawing</li>
        </ul>
    
    <p>You may view my resume below:</p>
    <p>[N/A] at the moment.</p>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   