<!--File Name: projects.ejs-->
<!--Student Name: Curtis Carpio-->
<!--Student ID: 301322854-->
<!--Date: October 4th, 2023-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<head>
    <link rel="stylesheet" href="style.css"/>
</head>

<main class="container">
<!--<div class="jumbotron"></div>-->
<h1 class="mainTitle"><%= title %></h1>
<!--Below is a list of projects that I have worked on (or am working on right now):-->
I currently have no notable projects to include in this page.

</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   