<!--File Name: services.ejs-->
<!--Student Name: Curtis Carpio-->
<!--Student ID: 301322854-->
<!--Date: October 4th, 2023-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<head>
    <link rel="stylesheet" href="style.css"/>
</head>

<main class="container">
<!--<div class="jumbotron"></div>-->
<h1 class="mainTitle"><%= title %></h1>
<p>Below is a list of services that I plan to offer:</p>
<ol class="serviceList">
    <li>General Programming</li>
    <img src="/img/1_YZ2fsT9k1CmlMil-Fda0Zg.png" alt="Image of a laptop w/ code displayed" style: width="480px"; height="300px">
    <li>Web App. Development</li>
    <img src="/img/pexels-markus-winkler-4578665.jpg" alt="Image of a laptop w/ code displayed" style: width="480px"; height="300px">
    <li>Mobile App. Development</li>
    <img src="/img/istockphoto-1173805365-170667a.webp" alt="Image of a person in front of two screens, holding a phone. All screens show code." style: width="480px"; height="300px">
</ol>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   